POSTGRES_USER=voraphol
POSTGRES_PASSWORD=voraphol
POSTGRES_DB= voraphol

DATABASE_CLIENT=postgres
DATABASE_NAME=voraphol
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USERNAME=voraphol
DATABASE_PASSWORD=voraphol

USERNAME=voraphol
EMAIL=vorapholtaeoung@gmail.com
PASSWORD=Kiopolo-896398

# This was inserted by `prisma init`:
[object Promise]